## Question 01

In [1]:
class Person:
    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city

    def __str__(self):
        return f"Name: {self.name}, Age: {self.age}, City: {self.city}"

person = Person("Ali", 25, "Lahore")
print("1. Person Output:", person)

1. Person Output: Name: Ali, Age: 25, City: Lahore

## Question 02

In [2]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def __str__(self):
        return f"Make: {self.make}, Model: {self.model}, Year: {self.year}"

car = Car("Toyota", "Corolla", 2020)
print("2. Car Output:", car)

2. Car Output: Make: Toyota, Model: Corolla, Year: 2020

## Question 03

In [3]:
import math
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

    def circumference(self):
        return 2 * math.pi * self.radius

circle = Circle(5)
print("3. Circle Area:", circle.area())
print("3. Circle Circumference:", circle.circumference())

3. Circle Area: 78.53981633974483
3. Circle Circumference: 31.41592653589793

## Question 04

In [4]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * (self.length + self.width)

rectangle = Rectangle(4, 6)
print("4. Rectangle Area:", rectangle.area())
print("4. Rectangle Perimeter:", rectangle.perimeter())

4. Rectangle Area: 24
4. Rectangle Perimeter: 20

## Question 05

In [5]:
class Student:
    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks

    def average_marks(self):
        return sum(self.marks) / len(self.marks)

student = Student("Sara", "B123", [85, 90, 78])
print("5. Student Average Marks:", student.average_marks())

5. Student Average Marks: 84.33333333333333

## Question 06

In [6]:
class Book:
    def __init__(self, title, author, publication_year):
        self.title = title
        self.author = author
        self.publication_year = publication_year

    def __str__(self):
        return f"Title: {self.title}, Author: {self.author}, Year: {self.publication_year}"

book = Book("Python Programming", "John Doe", 2022)
print("6. Book Output:", book)

6. Book Output: Title: Python Programming, Author: John Doe, Year: 2022

## Question 07

In [7]:
class Employee:
    def __init__(self, name, salary, designation):
        self.name = name
        self.salary = salary
        self.designation = designation

    def __str__(self):
        return f"Name: {self.name}, Salary: {self.salary}, Designation: {self.designation}"

employee = Employee("Ahmed", 50000, "Manager")
print("7. Employee Output:", employee)

7. Employee Output: Name: Ahmed, Salary: 50000, Designation: Manager

## Question 08

In [8]:
class Bank:
    def __init__(self, name, account_number, balance):
        self.name = name
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            return self.balance
        else:
            return "Insufficient balance"

bank = Bank("Ali", "123456789", 1000)
print("8. Bank Balance after deposit:", bank.deposit(500))
print("8. Bank Balance after withdrawal:", bank.withdraw(300))

8. Bank Balance after deposit: 1500
8. Bank Balance after withdrawal: 1200

## Question 09

In [9]:
class Shape:
    def area(self):
        pass

class CircleShape(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

class RectangleShape(Shape):
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

class TriangleShape(Shape):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def area(self):
        return 0.5 * self.base * self.height

circle_shape = CircleShape(3)
rectangle_shape = RectangleShape(4, 5)
triangle_shape = TriangleShape(6, 7)

print("9. CircleShape Area:", circle_shape.area())
print("9. RectangleShape Area:", rectangle_shape.area())
print("9. TriangleShape Area:", triangle_shape.area())

9. CircleShape Area: 28.274333882308138
9. RectangleShape Area: 20
9. TriangleShape Area: 21.0